<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="Name"
			 providerName="System.Data.ProviderName"
			 connectionString="Integrated Security=SSPI;Initial Catalog = GitHubConnector;Data Source=DESKTOP-2N4UJ2B;"/>
	</connectionStrings>
</configuration>